<div class="table-row-wrapper">
  <a href="<%= @student_show %>" class="table-row-wrapper">
  <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @pagy.from + @student_counter - 1 %></div>
  <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><span class="faded"><%= "#{@student.organization_mlid}-#{@student.chapter_mlid}-#{@student.group_mlid}-" %></span><%= @student.mlid %></div>
  <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @student.last_name %></div>
  <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @student.first_name %></div>
  <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @student.gender_i18n %></div>
  <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= "#{@student.estimated_dob ? t(:circa) : ''}#{@student.dob}" %></div>
  <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><% @student.tags.each do |tag|%><span class="mdl-chip"><span class="mdl-chip__text"><%= tag.tag_name %></span></span><% end %></div>
  <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @student_group_name %></div>
  </a>
  <div><a id="edit-button-<%= @student_counter %>" class="mdl-button mdl-js-button mdl-button--icon table-action-icon" href="<%= @path %>}"><%= image_tag 'edit.svg' %></a></div>
</div>
