<% content_for :title, t(:new_analytics).capitalize %>
<% content_for :head_content, javascript_include_tag('analytics') %>
<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  { title: t(:general_analytics).capitalize, href: general_analytics_url },
  { title: t(:subject_analytics).capitalize, href: subject_analytics_url },
  { title: t(:group_analytics).capitalize, href: group_analytics_url },
  { title: t(:new_analytics).capitalize, href: '' }
]) do |h| %>
  <% h.with_left do %>
  <% end %>
<% end %>

<div class="overflow-x-scroll">
  <div class="p-4 filter-wrap flex items-center flex-1" data-controller="analytics-filter">
    <div class="pl-2">
      <%= label_tag :organization_label, "Organization", class: 'block text-sm font-medium text-gray-700' %>
      <%= select_tag :organization_select, options_from_collection_for_select(@available_organizations, :id, :organization_name, @selected_organization_id), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-analytics-filter-target' => 'select', 'data-action' => 'analytics-filter#updateFilter', 'data-name' => 'organization_id', 'data-dependents' => ['chapter_id'].to_json, 'data-resources' => @available_organizations.map { |o| { id: o.id, label: o.organization_name} }.to_json %>
    </div>
    <div class="pl-2">
      <%= label_tag :chapter_label, "Chapter", class: 'block text-sm font-medium text-gray-700' %>
      <%= select_tag :chapter_select, options_from_collection_for_select(@available_chapters, :id, :chapter_name, @selected_chapter_id), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-analytics-filter-target' => 'select', 'data-action' => 'analytics-filter#updateFilter', 'data-name' => 'chapter_id', 'data-dependents' => ['group_id'].to_json, 'data-resources' => @available_chapters.map { |c| { id: c.id, label: c.chapter_name, depend_id: c.organization_id } }.to_json %>
    </div>
    <div class="pl-2">
      <%= label_tag :chapter_label, "Group", class: 'block text-sm font-medium text-gray-700' %>
      <div data-analytics-filter-target="multiselect" data-action="multiselect:ready->analytics-filter#updateFilter multiselect:change->analytics-filter#updateAnchor">
        <%= render CommonComponents::MultiselectComponent.new(label: 'All', target: 'group_ids[]', options: @available_groups.map { |g| { id: g.id, label: g.group_name, depend_id: g.chapter_id } }, selected_values: @selected_group_ids) %>
      </div>
    </div>
    <div class="pl-2 pt-5">
      <%= render CommonComponents::ButtonComponent.new(label: t(:filter), options: { 'data-analytics-filter-target' => 'anchor', 'data-turbo-prefetch' => 'false' })%>
    </div>
  </div>

  <div class="w-full h-[800px] bg-white rounded-md border relative" data-controller="charts-download">
    <button
      type="button"
      class="normal-button absolute top-2 right-2"
      data-action="click->charts-download#download">
      Download PNG
    </button>
    <canvas id="groups-performance-chart" data-charts-download-target="canvas"></canvas>
  </div>
</div>

<script>
  function drawGroupPerformanceCharts() {
    let data = <%= @group_series.to_json.html_safe %>;

    if(data && data.length > 0) {
      displayAveragePerformancePerGroupByLesson && displayAveragePerformancePerGroupByLesson(data)
    }
  }
</script>

<%= javascript_include_tag "new_charts", onload: 'drawGroupPerformanceCharts()' %>