<div class="mdl-layout__drawer mdl-color--primary mdl-color-text--white main-drawer">
  <header class="drawer-header">
    <%= link_to image_tag(user_image, class: 'user-image'), current_user_path %>
    <p><%= current_user_email %></p>
  </header>
  <%- cache request.path do %>
    <nav class="mdl-navigation mdl-color--white main-nav">
    <%= render NavItemComponent.new name: "Students", svg_icon: 'person.svg', url: students_path %>
    <%= render NavItemComponent.new name: "Groups", svg_icon: 'group.svg', url: groups_path %>
    <%= render NavItemComponent.new name: "Chapters", svg_icon: 'dvr.svg', url: chapters_path %>
    <%= render NavItemComponent.new name: "Organizations", svg_icon: 'public.svg', url: organizations_path %>
    <%= render NavItemComponent.new name: "Users", svg_icon:'contacts.svg', url: users_path %>
    <%= render NavItemComponent.new name: "Lessons", svg_icon: 'assignment.svg', url: lessons_path %>
    <%= render NavItemComponent.new name: "Subjects", svg_icon: 'local_library.svg', url: subjects_path %>
    <%= render NavItemComponent.new name: "Skills", svg_icon: 'lightbulb_outline.svg', url: skills_path %>
    <%= render NavItemComponent.new name: "Analytics", svg_icon: 'insert_chart.svg', url: general_analytics_path %>
    <div class="mdl-layout-spacer"></div>
    <%= render NavItemComponent.new name: "Mobile App", svg_icon: 'tablet.svg', url: 'https://releases.mindleaps.app/latest' %>
    <%= render NavItemComponent.new name: "Logout", svg_icon: 'exit_to_app.svg', url: '/sign_out' %>
    </nav>
  <% end %>
</div>