<%= form_tag('', method: :get, data: { controller: 'autosubmit',  autosubmit_target: 'form'}) do %>
  <% @fields.each do |name, value| %>
    <%= hidden_field_tag name, value %>
  <% end %>
  <div class="mdl-textfield mdl-js-textfield relative">
    <%= text_field_tag :search, @search[:term], data: { action: 'keyup->autosubmit#submit input->autosubmit#updateClearButton', turbo_permanent: true, autosubmit_target: 'input' }, autofocus: @autofocus, class: 'block w-full bg-white border border-green-700 rounded-md py-2 pl-10 pr-8 text-sm placeholder-gray-500 focus:outline-hidden focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1 focus:ring-green-700 focus:border-green-700 sm:text-sm', id: 'search-field', placeholder: 'Search' %>
    <button type="button"
            class="absolute inset-y-0 right-2 flex items-center cursor-pointer text-gray-400 hover:text-gray-600 focus:outline-none <%= 'hidden' if @search[:term].blank? %>"
            data-autosubmit-target="clearButton"
            data-action="click->autosubmit#clear"
            aria-label="<%= t(:clear_search) %>">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
      </svg>
    </button>
  </div>
<% end %>
