<%= form_with model: @user, class: 'space-y-0.5' do |f| %>
  <div class="bg-white px-4 py-5 shadow-sm sm:p-4">
    <div class="md:grid md:grid-cols-4 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900"><%= t(:user_information) %></h3>
      </div>
      <div class="mt-5 md:col-span-3 md:mt-0">
        <div class="grid grid-cols-6 gap-4">
          <div class="col-span-6 lg:col-span-2">
            <label for="user_email" class="block text-sm font-medium text-gray-700"><%= t(:user_email) %></label>
            <%= f.text_field :email, autofocus: true, class: 'mt-1 block w-full rounded-md border-purple-500 shadow-xs focus:border-green-600 focus:ring-green-600 sm:text-sm' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white px-4 py-5 shadow-sm sm:p-4">
    <div class="md:grid md:grid-cols-4 md:gap-6">
      <div class="md:col-span-1"></div>
      <div class="mt-5 md:col-span-3 md:mt-0">
        <div class="grid grid-cols-6 gap-4">
          <div class="col-span-6 lg:col-span-4">
            <%= f.submit class: 'px-4 py-2 border border-transparent shadow-xs text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 cursor-pointer' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>