<h1><%= "#{@student.last_name}, #{@student.first_name}" %></h1>

<h3>Grades</h3>

<fieldset>
  <%= simple_form_for @student, wrapper: :horizontal_form, url: { action: :update } do |f| %>
    <%= render partial: 'shared/errors', locals: {subject: @student} %>
    <%= f.input :absences, as: :boolean, label: 'Student absent', input_html: { checked: @absence } %>
    <%= f.simple_fields_for :grades, @grades do |grade| %>
      <%= grade.hidden_field :skill, value: grade.object.skill %>
      <%= grade.association :grade_descriptor,
        collection: grade.object.skill.grade_descriptors,
        label_method: -> (o) { "#{o.mark} - #{o.grade_description}" },
        label: grade.object.skill.skill_name,
        include_blank: 'No Grade'
      %>
    <% end %>
    <%= f.button :submit, I18n.t(:create_grade_button), class: 'btn-outline-success' %>
  <%- end %>
</fieldset>

<div class="action-buttons">
  <%= link_to 'Back to Lesson', lesson_path(@lesson) %>
</div>
