<div>
  <h1 class="text-3xl font-bold tracking-tight text-center text-gray-900 sm:text-4xl print:text-2xl">Group Report - <%=@group.group_name%></h1>
  <div class="pagebreak">
    <%= render CommonComponents::Card.new(title: t(:students).capitalize) do |card| %>
      <% card.with_card_content do %>
        <%= render @student_enrollments_component %>
      <% end %>
    <% end %>
  </div>

  <div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3 print:gap-1">
      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="mt-4 text-lg leading-8 text-gray-600">Starting Point</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Lesson date: <%=@group_lesson_summaries.first[:lesson_date]%></dd>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Average mark: <%=@group_lesson_summaries.first[:average_mark]%></dd>
      </div>
      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="mt-4 text-lg leading-8 text-gray-600">Middle Point</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Lesson date: <%=middle_from_array(@group_lesson_summaries)[:lesson_date]%></dd>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Average mark: <%=middle_from_array(@group_lesson_summaries)[:average_mark]%></dd>
      </div>
      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="mt-4 text-lg leading-8 text-gray-600">Final Point</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Lesson date: <%=@group_lesson_summaries.last[:lesson_date]%></dd>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Average mark: <%=@group_lesson_summaries.last[:average_mark]%></dd>
      </div>
    </dl>
  </div>

 <section class="flex flex-wrap print:flex-nowrap">
   <div class="w-full md:w-1/2 p-2">
     <%= render CommonComponents::Card.new(title: t(:average_performance_for_last_30_lessons).capitalize) do |card| %>
       <% card.with_card_content do %>
         <div id="last_30" class="ct-chart ct-octave bg-white"></div>
       <% end %>
     <% end %>
   </div>
   <div class="w-full md:w-1/2 p-2">
     <%= render CommonComponents::Card.new(title: t(:group_history).capitalize) do |card| %>
       <% card.with_card_content do %>
         <div id="group_history" class="ct-chart ct-octave bg-white"></div>
       <% end %>
     <% end %>
   </div>
 </section>

  <div class="w-full p-2">
    <%= render CommonComponents::Card.new(title: t(:group_attendance).capitalize) do |card| %>
      <% card.with_card_content do %>
        <div id="group_attendance" class="ct-chart-bar bg-white"></div>
      <% end %>
    <% end %>
  </div>

 <section>
   <%= render CommonComponents::Card.new(title: t(:average_performance_students_lifetime).capitalize) do |card| %>
     <% card.with_card_content do %>
   <%= render @student_summaries_component %>
       <% end %>
     <% end %>
 </section>

<script>
  const handlePrint = () => {
    setTimeout(() => {
       window.print()
    }, 1000)
    document.removeEventListener('DOMContentLoaded', handlePrint)
  }

  const onChartsLoad = () => {
    displayAveragesGraph && displayAveragesGraph('#last_30', '', <%= @group_lesson_summaries.last(30).to_json.html_safe %>)
    displayAveragesGraph && displayAveragesGraph('#group_history', '', <%= @group_lesson_summaries.to_json.html_safe %>)
    displayPercentagesGraph && displayPercentagesGraph('#group_attendance', <%= @group_lesson_summaries.to_json.html_safe %>)

    document.addEventListener('DOMContentLoaded', handlePrint)
  }
</script>
<%= javascript_include_tag "charts", onload: 'onChartsLoad()' %>