<%
  @components = [
    { id: 'students', name: 'Student Enrollments' },
    { id: 'enrollmentTimelines', name: 'Enrollment Timelines' },
    { id: 'pointAverages', name: 'Points Averages' },
    { id: 'groupHistory', name: 'Group History' },
    { id: 'groupHistory30', name: 'Group History (Last 30 Lessons)' },
    { id: 'groupAttendance', name: 'Attendance' },
    { id: 'averagePerformanceStudents', name: 'Student Average Performance' }
  ]
%>

<div class="w-full print:overflow-visible overflow-x-hidden">
  <section class="w-full print:hidden">
    <%= render CommonComponents::Card.new(title: 'Report Controls') do |card| %>
      <% card.with_card_content do %>
        <div class="w-full bg-white p-4 flex gap-12 items-center justify-center">
            <% @components.each do |c| %>
              <%= render CommonComponents::ToggleComponent.new(id: "#{c[:id]}Toggle", text: c[:name]) %>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </section>

  <h1 class="text-3xl mb-2 font-bold tracking-tight text-center text-gray-900 sm:text-4xl print:text-2xl">Group Report - <%=@group.group_name%></h1>

  <div id="students" class="break-after-page pagebreak-after">
    <% if @enrollment_timelines.empty? %>
      <h1 class="text-xl font-bold tracking-tight text-center text-gray-800 print:text-xl">There are no students in this group</h1>
    <% else %>
      <%= render CommonComponents::Card.new(title: t(:students).capitalize) do |card| %>
        <% card.with_card_content do %>
          <%= render @student_enrollments_component %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="enrollmentTimelines" class="w-full p-2">
    <% if @enrollment_timelines.any? %>
      <%= render CommonComponents::Card.new(title: t(:group_enrollments).capitalize) do |card| %>
        <% card.with_card_content do %>
          <div id="group_enrollments" class="w-full ct-chart-bar bg-white flex justify-center"></div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @reports.empty? %>
    <h1 class="text-xl font-bold tracking-tight text-center text-gray-800 print:text-xl">There is no data for this group yet</h1>
  <% else %>
    <% @reports.each do |report| %>
      <div>
        <h1 class="text-2xl font-bold tracking-tight text-center text-gray-900 sm:text-4xl print:text-xl break-before-page pagebreak-before"><%=report[:subject_name]%></h1>

        <div id="pointAverages" class="w-full">
          <dl class="mt-5 grid grid-cols-1 gap-4 sm:grid-cols-3">
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 sm:p-6 border border-black">
              <dt class="mt-4 text-lg leading-8 text-gray-600">Starting Point</dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Lesson date: <%=report[:group_summaries].first&.[](:lesson_date) || ''%></dd>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Average mark: <%=report[:group_summaries].first&.[](:average_mark) || ''%></dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 sm:p-6 border border-black">
              <dt class="mt-4 text-lg leading-8 text-gray-600">Middle Point</dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Lesson date: <%=middle_from_array(report[:group_summaries])&.[](:lesson_date) || ''%></dd>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Average mark: <%=middle_from_array(report[:group_summaries])&.[](:average_mark) || ''%></dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 sm:p-6 border border-black">
              <dt class="mt-4 text-lg leading-8 text-gray-600">Final Point</dt>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Lesson date: <%=report[:group_summaries].last&.[](:lesson_date) || ''%></dd>
              <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900 print:text-base">Average mark: <%=report[:group_summaries].last&.[](:average_mark) || ''%></dd>
            </div>
          </dl>
        </div>

        <section class="w-full px-2">
          <% if report[:group_summaries].any? %>
            <div id="groupHistory" class="w-full">
              <%= render CommonComponents::Card.new(title: t(:group_history).capitalize) do |card| %>
                <% card.with_card_content do %>
                  <div id="subject-<%= report[:subject_id] %>-group_history" class="ct-chart ct-octave bg-white"></div>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if report[:group_summaries].any? && report[:group_summaries].length >= 30 %>
            <div id="groupHistory30" class="w-full">
              <%= render CommonComponents::Card.new(title: t(:average_performance_for_last_30_lessons).capitalize) do |card| %>
                <% card.with_card_content do %>
                  <div id="subject-<%= report[:subject_id] %>-last_30" class="ct-chart ct-octave bg-white"></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </section>

        <div id="groupAttendance" class="w-full">
          <%= render CommonComponents::Card.new(title: t(:group_attendance).capitalize) do |card| %>
            <% card.with_card_content do %>
              <div id="subject-<%= report[:subject_id] %>-group_attendance" class="ct-chart-bar bg-white"></div>
            <% end %>
          <% end %>
        </div>

        <section id="averagePerformanceStudents" class="break-before-page pagebreak-before">
          <%= render CommonComponents::Card.new(title: t(:average_performance_students_lifetime).capitalize) do |card| %>
            <% card.with_card_content do %>
              <%= render TableComponents::Table.new(rows: report[:student_summaries], row_component: TableComponents::StudentRowReport) %>
            <% end %>
          <% end %>
        </section>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  const takeLast = (arr, n = 1) => n === 0 ? [] : arr.slice(-n);
  const handlePrint = () => {
    setTimeout(() => {
      window.print()
    }, 1000)
    document.removeEventListener('DOMContentLoaded', handlePrint)
  }

  const onChartsLoad = () => {
    (<%= @reports.to_json.html_safe %>).forEach(r => {
      if(r.group_summaries.length >= 30){
        displayAveragesGraph && displayAveragesGraph(`#subject-${r.subject_id}-last_30`, '', takeLast(r.group_summaries, 30))
      }
      displayAveragesGraph && displayAveragesGraph(`#subject-${r.subject_id}-group_history`, '', r.group_summaries)
      displayPercentagesGraph && displayPercentagesGraph(`#subject-${r.subject_id}-group_attendance`, r.group_summaries)
    })

    let enrollmentTimelines = <%= @enrollment_timelines.to_json.html_safe %>;

    if(enrollmentTimelines.length > 0) { displayTimelineGraph && displayTimelineGraph('#group_enrollments', enrollmentTimelines) }

    document.addEventListener('DOMContentLoaded', handlePrint)
  }
</script>
<%= javascript_include_tag "charts", onload: 'onChartsLoad()' %>