<%= turbo_frame_tag student do %>
  <a target="_top" href="<%= student_path student %>" class="table-row-wrapper" >
    <div class="table min-w-full bg-white px-4">
        <div class="table-cell" ><%= "#{student.group.full_mlid}-#{student.mlid}" %></div>
        <div class="text-left table-cell"><%= student.last_name %></div>
        <div class="text-left table-cell"><%= student.first_name %></div>
        <div class="text-left table-cell"><%= student.gender %></div>
        <div class="text-left table-cell"><%= "#{student.estimated_dob ? t(:circa) : ''}#{student.dob}" %></div>
        <div class="table-cell"><%= student.created_at.strftime('%F') %></div>
        <div class="flex justify-center items-center gap-5 h-full">
          <a href="<%= edit_group_student_path(student.group, student) %>" data-turbo-stream>
            <svg class="inline-block w-4 h-4 stroke-current hover:stroke-purple-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
          </a>

          <%= button_to group_student_path(student.group, student), method: :delete do %>
            <svg class="inline-block w-4 h-4 stroke-current hover:stroke-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
          <% end %>
        </div>
      </div>
    </a>
<% end %>