<h1>Edit Student</h1>

<fieldset>
  <%= form_for @student do |form| %>
    <%= render partial: 'shared/errors', locals: {subject: @student} %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <%= form.label :dob %>
    <%= form.date_select :dob, {start_year: 1990, end_year: Date.today.year} %>
    <%= form.label :estimated_dob %>
    <%= form.check_box :estimated_dob, {} %>
    <%= form.label :group %>
    <%= form.collection_select :group_id, Group.all, :id, :group_name, prompt: true, include_blank: 'None' %>
    <%= form.submit 'Update' %>
  <%- end %>
</fieldset>

<p><a href="<%= url_for action: 'show' %>">Cancel</a></p>
