<h1>New Student</h1>
<fieldset>
  <%= form_for :student, url: {action: "create"} do |form| %>
    <%= render partial: 'shared/errors', locals: {subject: @student} %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <%= form.label :dob %>
    <%= form.date_select :dob, {start_year: 1990, end_year: Date.today.year} %>
    <%= form.label :estimated_dob %>
    <%= form.check_box :estimated_dob, {} %>
    <%= form.collection_select :group_id, Group.all, :id, :group_name, prompt: true %>
    <%= form.submit 'Create' %>
  <%- end %>
</fieldset>
<%= render partial: "shared/students_table", locals: {students: @students} %>
