<h1>New Student</h1>
<div class="container">
<fieldset>
  <%= simple_form_for @student, wrapper: :horizontal_form, url: {action: "create"} do |f| %>
    <%= render partial: 'shared/errors', locals: {subject: @student} %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender, collection: Student.genders.map { |k, v| k.humanize }, include_blank: false %>
    <%= f.input :dob, label: 'Date of Birth', start_year: 1990, end_year: Date.today.year %>
    <%= f.input :estimated_dob, label: 'DOB estimated' %>
    <%= f.association :group, label_method: :group_name, include_blank: 'None' %>
    <hr />
    <%= f.input :quartier %>
    <%= f.button :submit, class: 'btn-outline-success' %>
  <%- end %>
</fieldset>
</div>
