<h1><%= @student.last_name %>, <%= @student.first_name %></h1>
<ul>
<li>Date of Birth: <%= @student.estimated_dob ? "EST" : "" %> <%= @student.dob %></li>
<li>Group: <%= student_group_name @student %></li>
</ul>

<p><%= link_to 'Edit', { action: :edit }, class: 'btn btn-default' %> <%= link_to 'Back to All Students', students_path %></p>
