<% content_for :page_title do %><%= @student.last_name %>, <%= @student.first_name %><% end %>
<div class="content-card--full">
  <% if @student.profile_image %>
    <%= image_tag @student.profile_image.image.medium.url, class: 'student-profile-image' %>
  <% end %>
  <% if @student.deleted_at %>
    <p class="text-danger">Student deleted at: <%= @student.deleted_at %></p>
  <% end %>
  <ul>
  <li>Date of Birth: <%= @student.estimated_dob ? "EST" : "" %> <%= @student.dob %></li>
  <li>Gender: <%= @student.gender_i18n %></li>
  <li>Group: <%= student_group_name @student %></li>
  <li>Quartier: <%= @student.quartier %></li>
  <li>Guardian Name: <%= @student.guardian_name %>
  <li>Guardian Occupation: <%= @student.guardian_occupation %>
  <li>Guardian Contact: <%= @student.guardian_contact %>
  <li>Family Members: <%= @student.family_members %>
  <li>Name of School: <%= @student.name_of_school %></li>
  <li>School Level Completed: <%= @student.school_level_completed %></li>
  <li>Year of Dropout: <%= @student.year_of_dropout %></li>
  <li>Reason for Leaving: <%= @student.reason_for_leaving %></li>
  <li>Health Insurance Information: <%= @student.health_insurance %></li>
  <li>Health Issues: <%= @student.health_issues %></li>
  <li>HIV Tested: <%= @student.hiv_tested %></li>
  <li>Notes: <%= @student.notes %></li>
  </ul>

  <div class="action-buttons">
    <%= link_to 'Back to All Students', students_path %>
    <%= link_to 'Edit', { action: :edit }, class: 'btn btn-secondary' %>
    <%= link_to 'Images', student_student_images_path(@student), class: 'btn btn-secondary' %>
    <%= button_to 'Delete', { action: :destroy, id: @student.id }, class: 'btn btn-danger', method: :delete %>
  </div>
</div>
