<h1><%= @student.last_name %>, <%= @student.first_name %></h1>
<ul>
<li>Date of Birth: <%= @student.estimated_dob ? "EST" : "" %> <%= @student.dob %></li>
<li>Group: <%= if @group.any? then @group.first.group_name else 'Unassigned' end %></li>
<ul>

<p><a href="<%= url_for action: 'edit' %>">Edit</a> <a href="<%= url_for action: 'index' %>">Back</a></p>
