<% content_for :title, t(:subject_analytics).capitalize %>
<% content_for :head_content, javascript_include_tag('analytics') %>
<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  { title: t(:general_analytics).capitalize, href: general_analytics_url },
  { title: t(:subject_analytics).capitalize, href: '' },
  { title: t(:group_analytics).capitalize, href: group_analytics_url }
]) do |h| %>
  <% h.with_left do %>
  <% end %>
<% end %>

<div class="overflow-x-scroll">
  <div class="p-4 filter-wrap flex items-center flex-1" data-controller="analytics-filter">
    <div class="pl-2">
      <%= label_tag :organization_label, "Organization", class: 'block text-sm font-medium text-gray-700' %>
      <%= select_tag :organization_select, options_from_collection_for_select(@available_organizations, :id, :organization_name, @selected_organization_id), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-analytics-filter-target' => 'select', 'data-action' => 'analytics-filter#updateFilter', 'data-name' => 'organization_id', 'data-dependents' => ['chapter_id'].to_json, 'data-resources' => @available_organizations.map { |o| { id: o.id, label: o.organization_name} }.to_json %>
    </div>
    <div class="pl-2">
      <%= label_tag :chapter_label, "Chapter", class: 'block text-sm font-medium text-gray-700' %>
      <%= select_tag :chapter_select, options_from_collection_for_select(@available_chapters, :id, :chapter_name, @selected_chapter_id), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-analytics-filter-target' => 'select', 'data-action' => 'analytics-filter#updateFilter', 'data-name' => 'chapter_id', 'data-dependents' => ['group_id'].to_json, 'data-resources' => @available_chapters.map { |c| { id: c.id, label: c.chapter_name, depend_id: c.organization_id } }.to_json %>
    </div>
    <div class="pl-2">
      <%= label_tag :group_label, "Group", class: 'block text-sm font-medium text-gray-700' %>
      <div data-analytics-filter-target="multiselect" data-action="multiselect:ready->analytics-filter#preloadStudents multiselect:ready->analytics-filter#updateFilter multiselect:change->analytics-filter#handleGroupChange">
        <%= render CommonComponents::MultiselectComponent.new(label: t(:all), target: 'group_ids[]', options: @available_groups.map { |g| { id: g.id, label: g.group_name, depend_id: g.chapter_id } }, selected_values: @selected_group_ids) %>
      </div>
    </div>
    <div class="pl-2">
      <%= label_tag :subject_label, "Subject", class: 'block text-sm font-medium text-gray-700' %>
      <%= select_tag :subject_select, options_from_collection_for_select(@available_subjects, :id, :subject_name, @subject), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-analytics-filter-target' => 'select', 'data-action' => 'analytics-filter#updateFilter', 'data-name' => 'subject_id', 'data-resources' => @available_subjects.map { |s| { id: s.id, label: s.subject_name, depend_id: s.organization_id } }.to_json %>
    </div>
    <div class="pl-2">
      <%= label_tag :student_label, "Student", class: "block text-sm font-medium text-gray-700" %>
      <%= turbo_frame_tag "student_select_frame", data: { src_base: analytics_student_select_path } do %>
        <%= render 'analytics/students/student_select', students: [], selected_student_id: nil, disabled: true %>
      <% end %>
    </div>
    <div class="pl-2">
      <%= label_tag :from_label, "From", class: 'block text-sm font-medium text-gray-700' %>
      <div data-analytics-filter-target="date" data-action="datepicker:change->analytics-filter#updateAnchor">
        <%= render Datepicker.new(date: @from, target: 'from', custom_name: "from_date", custom_class: 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md') %>
      </div>
    </div>
    <div class="pl-2">
      <%= label_tag :to_label, "To", class: 'block text-sm font-medium text-gray-700' %>
      <div data-analytics-filter-target="date" data-action="datepicker:change->analytics-filter#updateAnchor">
        <%= render Datepicker.new(date: @to, target: 'to', custom_name: "to_date", custom_class: 'mt -1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md') %>
      </div>
    </div>
    <div class="pl-2 pt-5">
      <%= render CommonComponents::ButtonComponent.new(label: t(:filter), options: { 'data-analytics-filter-target' => 'anchor', 'data-turbo-prefetch' => 'false' })%>
    </div>
  </div>

  <div class="grid gap-2" style="grid-template-columns: repeat(2, minmax(min-content, 50%))">
    <% @subject_series.each_slice(2) do |d1, d2| %>
      <div id="skill-<%= d1[:skill] %>" class="w-full h-96"></div>
      <% if d2 %>
        <div id="skill-<%= d2[:skill] %>" class="w-full h-96"></div>
      <% end %>
    <% end %>

    <% if @subject_series.empty? %>
      <div class="p-4 w-full h-96">
        <span class="p-2">No data found for filtered items</span>
      </div>
    <% end %>
  </div>
</div>

<script>
  function startAnalytics() {
    let datasets = <%= @subject_series.to_json.html_safe %>;

    datasets.forEach(function(dataset) {
      new Highcharts.Chart({
        chart: {
          renderTo: 'skill-' + dataset.skill,
          zoomType: 'x',
          type: 'scatter'
        },
        legend: {
          enabled: true,
          maxHeight: 120
        },
        credits: {
          enabled: false
        },
        tooltip: {
          formatter: function () {
            return '<span style="color:' + this.point.color + '">\u25CF</span> ' + this.series.name +
              '<br/><span>x: <span style="font-weight: bold">' + this.point.x + '</span></span>' +
              '<br/><span>y: <span style="font-weight: bold">' + this.point.y + '</span></span>' +
              (this.point.date ? '<br/><span><%= t(:lesson_date) %>: ' + this.point.date + '</span>' : '');
          }
        },
        exporting: {
          filename: dataset.skill + '-chart',
          buttons: {
            contextButton: {
              menuItems: [
                'downloadPNG',
                'downloadJPEG',
                'downloadPDF',
                'downloadSVG'
              ]
            }
          },
          fallbackToExportServer: false
        },
        title: {
          text: dataset.skill
        },
        xAxis: {
          allowDecimals: false,
          title: {
            text: '<%= t(:nr_of_lessons) %>'
          },
          min: 1
        },
        yAxis: {
          title: {
            text: '<%= t(:performance) %>'
          },
          allowDecimals: false,
          endOnTick: false,
          tickPositions: [0, 1, 2, 3, 4, 5, 6, 7],
          max: 7
        },
        plotOptions: {
          series: {
            events: {
              click: function (e, a1, a2) {
                if (e.point.lesson_url) {
                  window.open(e.point.lesson_url, '_blank');
                }
              }
            },
            cursor: 'pointer',
            marker: {
              radius: 2
            }
          }
        },
        series: dataset.series
      });
    });
  }

  function pollForHighcharts(cb) {
    if (window.Highcharts) {
      cb()
    } else {
      setTimeout(pollForHighcharts.bind(this, cb), 100);
    }
  }

  pollForHighcharts(startAnalytics);
</script>
