<% content_for :title, t(:general_analytics).capitalize %>
<% content_for :head_content, javascript_include_tag('analytics') %>
<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  { title: t(:general_analytics).capitalize, href: '' },
  { title: t(:subject_analytics).capitalize, href: subject_analytics_url },
  { title: t(:group_analytics).capitalize, href: group_analytics_url }
]) do |h| %>
  <% h.with_left do %>
  <% end %>
<% end %>

<div class="overflow-x-scroll">
  <div class="p-4 filter-wrap flex items-center flex-1" data-controller="analytics-filter">
    <div class="pl-2">
      <%= label_tag :organization_label, "Organization", class: 'block text-sm font-medium text-gray-700' %>
      <%= select_tag :organization_select, options_from_collection_for_select(@available_organizations, :id, :organization_name, @selected_organization_id), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-analytics-filter-target' => 'select', 'data-action' => 'analytics-filter#updateFilter', 'data-name' => 'organization_id', 'data-dependents' => ['chapter_id'].to_json, 'data-resources' => @available_organizations.map { |o| { id: o.id, label: o.organization_name} }.to_json %>
    </div>
    <div class="pl-2">
      <%= label_tag :chapter_label, "Chapter", class: 'block text-sm font-medium text-gray-700' %>
      <%= select_tag :chapter_select, options_from_collection_for_select(@available_chapters, :id, :chapter_name, @selected_chapter_id), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-analytics-filter-target' => 'select', 'data-action' => 'analytics-filter#updateFilter', 'data-name' => 'chapter_id', 'data-dependents' => ['group_id'].to_json, 'data-resources' => @available_chapters.map { |c| { id: c.id, label: c.chapter_name, depend_id: c.organization_id } }.to_json %>
    </div>
    <div class="pl-2">
      <%= label_tag :group_label, "Group", class: 'block text-sm font-medium text-gray-700' %>
      <div data-analytics-filter-target="multiselect" data-action="multiselect:ready->analytics-filter#preloadStudents multiselect:ready->analytics-filter#updateFilter multiselect:change->analytics-filter#handleGroupChange">
        <%= render CommonComponents::MultiselectComponent.new(label: t(:all), target: 'group_ids[]', options: @available_groups.map { |g| { id: g.id, label: g.group_name, depend_id: g.chapter_id } }, selected_values: @selected_group_ids) %>
      </div>
    </div>
    <div class="pl-2">
      <%= label_tag :student_label, "Student", class: "block text-sm font-medium text-gray-700" %>
      <%= turbo_frame_tag "student_select_frame", data: { src_base: analytics_student_select_path } do %>
          <%= render 'analytics/students/student_select', students: [], selected_student_id: nil, disabled: true %>
        <% end %>
    </div>
    <div class="pl-2">
      <%= label_tag :from_label, "From", class: 'block text-sm font-medium text-gray-700' %>
      <div data-analytics-filter-target="date" data-action="datepicker:change->analytics-filter#updateAnchor">
        <%= render Datepicker.new(date: @from, target: 'from', custom_name: "from_date", custom_class: 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md') %>
      </div>
    </div>
    <div class="pl-2">
      <%= label_tag :to_label, "To", class: 'block text-sm font-medium text-gray-700' %>
      <div data-analytics-filter-target="date" data-action="datepicker:change->analytics-filter#updateAnchor">
        <%= render Datepicker.new(date: @to, target: 'to', custom_name: "to_date", custom_class: 'mt -1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md') %>
      </div>
    </div>
    <div class="pl-2 pt-5">
      <%= render CommonComponents::ButtonComponent.new(label: t(:filter), options: { 'data-analytics-filter-target' => 'anchor', 'data-turbo-prefetch' => 'false' })%>
    </div>
  </div>

  <div class="grid gap-2" style="grid-template-columns: repeat(2, minmax(min-content, 50%))">
    <div id="quantity-of-data-per-month" class="w-full relative bg-white pt-6" data-controller="charts-download" data-charts-download-title-value="quantity of data chart">
      <button type="button" class="normal-button absolute top-2 right-2 text-xs" data-action="click->charts-download#download"> Download PNG </button>
    </div>
    <div id="histogram-of-student-performance" class="w-full relative bg-white pt-6" data-controller="charts-download" data-charts-download-title-value="histogram of student performance chart">
      <button type="button" class="normal-button absolute top-2 right-2 text-xs" data-action="click->charts-download#download"> Download PNG </button>
    </div>
    <div id="performance-change-by-student" class="w-full relative bg-white pt-6" data-controller="charts-download" data-charts-download-title-value="performance change by student chart">
      <button type="button" class="normal-button absolute top-2 right-2 text-xs" data-action="click->charts-download#download"> Download PNG </button>
    </div>
    <div id="performance-change-by-gender" class="w-full relative bg-white pt-6" data-controller="charts-download" data-charts-download-title-value="performance change by gender chart">
      <button type="button" class="normal-button absolute top-2 right-2 text-xs" data-action="click->charts-download#download"> Download PNG </button>
    </div>
    <div id="average-performance-per-group" class="w-full relative bg-white pt-6" data-controller="charts-download" data-charts-download-title-value="average group performance chart"></div>
    <div id="datapoint-count" class="w-full h-96 bg-white ">
      <div class="text-center p-1"> <%= t(:number_of_datapoints) %></div>
      <div class="relative -translate-y-1/2 text-center text-8xl top-1/3">
        <span><%= number_with_delimiter @number_of_data_points %></span>
      </div>
    </div>
  </div>
</div>

<script>
    window.onChartsLoad = function() {
        let assessmentsPerMonth = <%= @assessments_per_month.to_json.html_safe %>;
        let studentPerformance = <%= @student_performance.html_safe %>;
        let studentPerformanceChange = <%= @student_performance_change.html_safe %>;
        let genderPerformanceChange = <%= @gender_performance_change.html_safe %>;
        let averageGroupPerformance = <%= @average_group_performance.html_safe %>;

        displayAssessmentsPerMonth && displayAssessmentsPerMonth('#quantity-of-data-per-month', assessmentsPerMonth, { xTitle: '<%= t(:month) %>', yTitle:  '<%= t(:nr_of_assessments) %>' })
        displayStudentPerformanceChart && displayStudentPerformanceChart('#histogram-of-student-performance', studentPerformance)
        displayStudentPerformanceChangeChart('#performance-change-by-student', studentPerformanceChange)
        displayPerformanceChangeByGenderChart && displayPerformanceChangeByGenderChart('#performance-change-by-gender', genderPerformanceChange)
        displayAveragePerformancePerGroupByLessonChart && displayAveragePerformancePerGroupByLessonChart("#average-performance-per-group", averageGroupPerformance, { title: 'Average performance per Group versus time in program' })
    }
</script>
<%= javascript_include_tag "new_charts", onload: 'window.onChartsLoad && window.onChartsLoad()' %>