<h1>Edit Group</h1>
<div class="container">
  <fieldset>
    <%= simple_form_for @group, wrapper: :horizontal_form, url: { action: :update } do |f| %>
      <%= render partial: 'shared/errors', locals: {subject: @group} %>
      <%= f.input :group_name %>
      <%= f.association :chapter, label_method: :chapter_name, include_blank: 'None' %>
      <hr />
      <%= f.button :submit, class: 'btn-outline-success' %>
    <%- end %>
  </fieldset>
</div>
<p><a href="<%= url_for action: 'show' %>">Cancel</a></p>
