<h1>New Group</h1>
<fieldset>
  <%= simple_form_for @group, wrapper: :horizontal_form, url: {action: 'create'} do |f| %>
    <%= render partial: 'shared/errors', locals: {subject: @group} %>
    <%= f.input :group_name %>
    <%= f.association :chapter, label_method: :chapter_name, include_blank: 'None' %>
    <%= f.button :submit, class: 'btn-outline-success' %>
  <%- end %>
</fieldset>

<% @groups.each do |group| %>
  <p><%= group.group_name %>, Created: <%= group.created_at %></p>
<% end %>
