<h1>New Group</h1>
<fieldset>
  <%= form_for :group, url: {action: "create"} do |form| %>
    <%= render partial: 'shared/errors', locals: {subject: @group} %>
    <%= form.label :group_name %>
    <%= form.text_field :group_name %>
    <%= form.submit 'Create' %>
  <%- end %>
</fieldset>
