<%= turbo_stream.replace 'modal' do %>
  <div id="modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" data-controller="modal">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity backdrop-out transform-gpu" data-modal-target="backdrop"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto" data-action="click->modal#close">
      <div class="flex min-h-full items-end justify-center p-4 sm:items-center sm:p-0">
        <div class="modal-out transition-all transform-gpu w-1/2" data-modal-target="modal" data-action="click->modal#stopPropagation">
          <%= render CommonComponents::Card.new(title: t(:merge_group)) do |card| %>
            <% card.with_card_content do %>
              <div class="p-4 bg-white rounded-md w-full">
                <%= form_with url: submit_merge_group_path, method: :post, class: 'p-4 space-y-0.5 my-2' do |f| %>
                  <div>
                    <%= f.label :group, "Group to merge into", class: 'block text-md font-medium text-gray-700' %>
                    <%= f.select :group, options_from_collection_for_select(@other_groups, :id, :group_name), { include_blank: false }, { :class => 'mt-1 block w-full rounded-md border-purple-500 shadow-sm focus:border-green-600 focus:ring-green-600 sm:text-sm' } %>
                  </div>

                  <div class="my-4">
                    <h2 class="mb-2 text-lg font-bold text-gray-700">By merging this group the following will apply:</h2>
                    <ul class="text-gray-700 list-disc list-inside">
                      <li> Students from this group will be moved to group '<span id="selectedGroupName"><%= @other_groups[0].group_name %></span>' </li>
                      <li> Enrollment date for moved students will be set to the new group's first lesson date </li>
                      <li> Grades for moved students will be updated if lessons had happened on the same day </li>
                      <li> This group will be deleted </li>
                    </ul>
                  </div>

                  <div class="p-2">
                    <%= f.submit t(:merge), class: 'px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 cursor-pointer' %>
                    <div class="dangerous-button" data-action="click->modal#close"><%= t(:cancel) %></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <script>
      let groupOptions = document.getElementById('group')
      let selectedGroupName = document.getElementById('selectedGroupName')

      groupOptions.addEventListener('change', () => {
        selectedGroupName.textContent = groupOptions.options[groupOptions.selectedIndex].innerHTML
      })
    </script>
  </div>
<% end %>


