<h1>Group: <%= @group.group_name %></h1>
<h5>Chapter: <%= group_chapter_name(@group) %></h5>

<h3>Students</h3>

<%= render partial: "shared/students_table", locals: {students: @students} %>

<div class="action-buttons">
  <%= link_to 'Back to All Groups', groups_path %>
  <%= link_to 'Edit', { action: :edit }, class: 'btn btn-secondary' %>
</div>
