<%- content_for :title, "#{t(:group).capitalize} - #{@group.chapter_name}" %>
<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  {title: CommonComponents::TagLabel.new(label: @group.group_name, img_src: 'group.svg'), href: '' },
], buttons: [
  (CommonComponents::ButtonComponent.new(label: t(:add_student_to_group), href: new_student_path(group_id: @group.id)) if policy(@group).update?),
  (CommonComponents::ButtonComponent.new(label: t(:enroll_students), href: enroll_students_group_path(@group), options: { data: { turbo_stream: true } }) if policy(@group).update?),
  (CommonComponents::ButtonComponent.new(label: t(:generate_report), href: reports_group_path(@group), options: { target: '_blank' } ) if @group.students.length > 0),
  (CommonComponents::ButtonComponent.new(label: t(:export_students_csv), href: students_url(group_id: @group.id, format: :csv)) if @group.students.length > 0),
  (CommonComponents::ButtonComponent.new(label: t(:edit_group), href: edit_group_path(@group)) if policy(@group).edit?),
  (CommonComponents::FormButtonComponent.new(label: t(:restore_group), path: undelete_group_path(@group), method: :post) if policy(@group).destroy? && @group.deleted_at),
  (CommonComponents::DangerousFormButtonComponent.new(label: t(:delete_group), path: group_path(@group), method: :delete) if policy(@group).destroy? && !@group.deleted_at)
].compact)  do |h|
  h.with_left do
    render CommonComponents::Breadcrumbs.new(crumbs: [
      { label: CommonComponents::TagLabel.new(label: @group.chapter.organization.organization_name, img_src: 'world.svg'), href: organization_path(@group.chapter.organization) },
      { label: CommonComponents::TagLabel.new(label: @group.chapter.chapter_name, img_src: 'chapter.svg'), href: chapter_path(@group.chapter) },
    ])
  end
end %>
<% if @group.deleted_at  %>
  <%= render AlertComponent.new(title: t(:group_deleted, name: @group.group_name), text: t(:group_deleted_at, time: distance_of_time_in_words(@group.deleted_at, Time.zone.now))) %>
<% end %>

<% if @students_with_invalid_grades.any?  %>
  <%= render AlertComponent.new(title: t(:students_graded_outside_enrollment), text: t(:students_graded_outside_enrollment_alert)) %>
<% end %>

<section>
   <div class="w-1/2">
       <%= render CommonComponents::Card.new(title: t(:average_performance_for_last_30_lessons).capitalize) do |card| %>
             <% card.with_card_content do %>
               <div class="ct-chart ct-octave bg-white full-width"></div>
             <% end %>
       <% end %>
    </div>
</section>
<turbo-frame id="students-table">
  <%= render GroupEnrolledStudentsComponent.new(students: @group.students, group: @group, students_with_invalid_grades: @students_with_invalid_grades) %>
</turbo-frame>
<div id="modal"></div>
<%= javascript_tag do %>
  function onChartsLoad() {
    displayAveragesGraph && displayAveragesGraph('.ct-chart', '', <%= @group_summaries.to_json.html_safe %>);
  }
<% end %>
<%= javascript_include_tag "charts", onload: 'onChartsLoad()' %>