<div class="row">
  <div class="col-sm-6">
    <%= image_tag user_image(@user, 300), class: 'profile-image' %>
  </div>
  <div class="col-sm-6">
    <h1><%= user_name @user %></h1>
    <ul>
    <li>Email: <%= @user.email %></li>
    <li>Current Role: <%= Role::ROLES[@user.current_role] %></li>

    <% unless @user.id == current_user.id %>
    <section class="role-administration">
      <legend>User Roles</legend>
      <%= simple_form_for @user, url: {action: 'update'} do |f| %>
        <%= f.input :roles, collection: Role::ROLES.invert, as: :radio_buttons, checked: @user.current_role, label: '' %>
        <%= f.button :submit, class: 'btn-outline-success' %>
      <%- end %>
    </section>
    <%- end %>
  </div>
</div>

