<div class="row">
  <div class="col-sm-6">
    <%= image_tag user_image(@user, 300), class: 'profile-image' %>
  </div>
  <div class="col-sm-6">
    <h1><%= user_name @user %></h1>
    <ul>
      <li>Email: <%= @user.email %></li>
    </ul>
    <h4>Global role:</h4>
    <% if @user.global_role? %>
        <p><%= @user.roles.global.first.label %></p>
    <% else %>
        <p>No Global Role</p>
    <%- end %>
    <h4>Membership</h4>
    <ul>
      <% @user.roles.includes(:resource).instance_scoped(Organization).each do |role| %>
        <li><%= role.resource.organization_name %>: <%= Role::LOCAL_ROLES[role.name.to_sym] %></li>
      <% end %>
    </ul>
  </div>
  <% unless @user.id == current_user.id %>
    <div class="col">
      <section class="role-administration">
        <h3>Change User Roles</h3>
        <div class="form-container">
          <%= simple_form_for @user, url: update_global_role_user_memberships_path(@user), method: :put, html: { id: "user-roles-global" } do |f| %>
            <legend>Global Role</legend>
            <div class="form-group radio_buttons user_roles_global">
              <% Role::GLOBAL_ROLES.each do |role_value, role_name| %>
                <label class="radio-label">
                  <%= radio_button_tag role_value, role_value.to_s, user_global_role(@user) == role_value, name: "role" %>
                  <%= role_name %>
                </label>
              <% end %>
            </div>
            <%= f.button :submit, t(:update_global_role_button), class: 'btn-outline-success float-submit' %>
          <%- end %>
          <%= button_to t(:revoke_global_role_button), revoke_global_role_user_memberships_path(@user), method: :delete, class: 'btn btn-outline-danger' if @user.global_role? %>
          <div class="clearfix"></div>
        </div>

        <% current_user.organizations.each do |org| %>
          <div class="form-container">
            <%= simple_form_for @user, url: user_membership_path(@user, org), method: :put, html: { id: "user-roles-for[#{org.id}]" } do |f| %>
                <legend><%= org.organization_name %></legend>
                <div class="form-group radio_buttons user_roles_for[<%= org.id %>]">
                  <% Role::LOCAL_ROLES.each do |role_value, role_name| %>
                    <label class="radio-label">
                    <%= radio_button_tag role_value, role_value.to_s, user_role_in(@user, org) == role_value, name: "role" %>
                    <%= role_name %>
                    </label>
                  <% end %>
                </div>
              <%= f.button :submit, t(:update_role_button), class: 'btn-outline-success float-submit' %>
            <%- end %>
            <%= button_to t(:revoke_local_role_button, org: org.organization_name), user_membership_path(@user, org), method: :delete, class: 'btn btn-outline-danger' if @user.member_of?(org) %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </section>
    </div>
  <%- end %>
</div>
