<h1>New skill</h1>
<fieldset>
  <%= simple_form_for @skill, wrapper: :horizontal_form, url: {action: 'create'} do |f| %>
    <%= render partial: 'shared/errors', locals: {subject: @skill} %>
    <%= f.input :skill_name %>
    <%= f.input :skill_description %>
    <%= f.association :organization, label_method: :organization_name, include_blank: false %>
    <h5>Grade Descriptors</h5>
    <div class='clearfix'>
      <%= link_to_add_association 'Add Grade Descriptor', f, :grade_descriptors, class: 'btn btn-outline-primary btn-sm' %>
    </div>
    <%= f.button :submit, class: 'btn-outline-success' %>
  <%- end %>
</fieldset>