<tr class="resource-row group-row">
    <td><a class="resource-row-link group-row-link" href="<%= url_for group %>"><%= group.group_name %></a></td>
    <td><a class="resource-row-link group-row-link" href="<%= url_for group %>"><%= group_chapter_name group %></a></td>
    <td><a class="resource-row-link group-row-link text-xs-center" href="<%= url_for group %>"><%= group.students.length %></a></td>
</tr>
