<header>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag('MindLeapsSmallLogo.png', class: 'img_preview pull-xs-left') %>
    </div>
    <div class="col-sm-4">
      <%= render "shared/menu" %>
    </div>
    <div class="col-sm-4">

    <span class="pull-xs-right"><%= current_user.name %><img class="user-image" src="<%= current_user_image %>"><%= link_to 'Logout', '/sign_out', role: 'button' %></span>
    </div>
  </div>
</header>
