<header>
  <div class="row">
    <div class="col-sm-2">
      <%= image_tag('MindLeapsSmallLogo.png', class: 'img_preview pull-xs-left') %>
    </div>
    <div class="col-sm-7">
      <%= render "shared/menu" %>
    </div>
    <div class="col-sm-3">

      <span class="pull-xs-right">
        <%= current_user.name %>
        <%= link_to image_tag(current_user_image, class: 'user-image'), url_for(current_user) %>
        <%= link_to 'Logout', '/sign_out', role: 'button' %>
      </span>
    </div>
  </div>
</header>
