<tr class="resource-row lesson-row">
    <td><a class="resource-row-link lesson-row-link" href="<%= url_for lesson %>"><%= lesson.group.group_name %></a></td>
    <td><a class="resource-row-link lesson-row-link" href="<%= url_for lesson %>"><%= lesson.date %></a></td>
    <td><a class="resource-row-link lesson-row-link" href="<%= url_for lesson %>"><%= lesson.subject.subject_name %></a></td>
</tr>
