<table class="mdl-data-table mdl-js-data-table resource-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">MLID</th>
      <th class="mdl-data-table__cell--non-numeric">Image</th>
      <th class="mdl-data-table__cell--non-numeric">Last Name</th>
      <th class="mdl-data-table__cell--non-numeric">First Name</th>
      <th class="mdl-data-table__cell--non-numeric">Gender</th>
      <th class="mdl-data-table__cell--non-numeric">Date of Birth</th>
      <th class="mdl-data-table__cell--non-numeric">Group</th>
    </tr>
  </thead>
  <% students.each do |student| %>
    <a href="<%= url_for student_path(student) %>">
      <tr class="resource-row student-row">
        <td class="mdl-data-table__cell--non-numeric"><%= link_to student.mlid, student_path(student) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to image_tag(student_mini_thumbnail(student), alt: 'profile image', class: 'mini-thumb-profile-image'), student_path(student) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to student.last_name, student_path(student) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to student.first_name, student_path(student) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to student.gender_i18n, student_path(student) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to "#{student.dob} #{student.estimated_dob ? 'EST' : ''}", student_path(student) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to student_group_name(student), student_path(student) %></td>
      </tr>
    </a>
<% end %>
</table>
