<tr class="student-row">
    <td><a class="student-row-link" href="<%= url_for student %>"><%= student.last_name %></a></td>
    <td><a class="student-row-link" href="<%= url_for student %>"><%= student.first_name %></a></td>
    <td><a class="student-row-link" href="<%= url_for student %>"><%= student.dob %> <%= student.estimated_dob ? "EST" : "" %></a></td>
</tr>
