<div class="sticky top-0 flex-shrink-0 flex h-16 border-b-2 border-purple-800">
  <div class="flex-1 flex items-center">
    <% if left? %>
      <%= left %>
    <% else %>
      <div class="pl-6 w-full">
        <%= render SearchFormComponent.new(search: { term: params[:search] }, query_parameters: request.query_parameters) %>
      </div>
    <% end %>
  </div>
  <div class="px-4 flex-1 flex items-center w-full justify-center items-stretch space-x-8">
    <% @tabs.each do |tab| %>
      <a href="<%= tab[:href] if tab[:href].present? %>" class="<%= if tab[:href] == '' then 'border-green-700 text-gray-800 ' else 'border-transparent hover:border-gray-400 text-gray-500 hover:text-gray-700' end %> border-b-4 inline-flex items-center px-1 pt-1 font-medium"> <%= tab[:title] %> </a>
    <% end %>
  </div>

  <div class="px-4 flex-1 flex items-center">
    <% @buttons.each do |button| %>
      <%= render button %>
    <% end %>
  </div>
</div>
