<!-- Current: "", Default: "text-gray-700 hover:text-gray-900 hover:bg-gray-50" -->

<% if @is_active %>
  <a disabled="disabled" class="text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md bg-gray-300">
    <%= inline_svg_tag @svg_icon, class: 'text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6' %>
    <%= @name %>
  </a>
<% else %>
  <a href="<%= @url %>" class="text-gray-700 group flex items-center px-2 py-2 text-sm font-medium rounded-md hover:text-gray-900 hover:bg-gray-200">
    <%= inline_svg_tag @svg_icon, class: 'text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6' %>
    <%= @name %>
  </a>
<% end %>