<div class="w-28 flex-shrink-0 bg-purple-800 overflow-auto md:block">
  <div class="w-full py-6 flex flex-col items-center">
      <%#= render LayoutComponents::AvatarComponent.new(current_user: @current_user) %>
      <nav class="flex-1 mt-6 w-full px-2 space-y-1">
        <div class="space-y-1">
          <%= render LayoutComponents::NavItemComponent.new name: "Students", svg_icon: 'student.svg', url: students_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Groups", svg_icon: 'group.svg', url: groups_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Chapters", svg_icon: 'chapter.svg', url: chapters_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Organizations", svg_icon: 'world.svg', url: organizations_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Users", svg_icon:'identification.svg', url: users_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Lessons", svg_icon: 'clipboard.svg', url: lessons_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Subjects", svg_icon: 'book.svg', url: subjects_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Skills", svg_icon: 'lightbulb.svg', url: skills_path %>
          <%= render LayoutComponents::NavItemComponent.new name: "Analytics", svg_icon: 'chart.svg', url: general_analytics_path %>
        </div>
      </nav>
  </div>
</div>
