<div class="w-28 shrink-0 bg-purple-800 overflow-auto md:block">
  <div class="w-full h-full py-6 flex flex-col">
      <%#= render LayoutComponents::AvatarComponent.new(current_user: @current_user) %>
      <nav class="flex-1 flex flex-col h-full mt-6 w-full px-2 justify-between">
        <div class="space-y-1">
          <%= render LayoutComponents::NavItemComponent.new name: t(:students), svg_icon: 'student.svg', url: students_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:groups), svg_icon: 'group.svg', url: groups_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:chapters), svg_icon: 'chapter.svg', url: chapters_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:organizations), svg_icon: 'world.svg', url: organizations_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:users), svg_icon:'identification.svg', url: users_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:lessons), svg_icon: 'clipboard.svg', url: lessons_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:subjects), svg_icon: 'subject.svg', url: subjects_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:skills), svg_icon: 'skill.svg', url: skills_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:analytics), svg_icon: 'chart.svg', url: general_analytics_path %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:reports), svg_icon: 'reports.svg', url: reports_path %>
        </div>
        <div class="space-y-1">
          <%= render LayoutComponents::NavItemComponent.new name: t(:mobile_app), svg_icon: 'mobile.svg', url: 'https://releases.mindleaps.app/latest' %>
          <%= render LayoutComponents::NavItemComponent.new name: t(:logout), svg_icon: 'logout.svg', url: destroy_user_session_path %>
        </div>
      </nav>
  </div>
</div>
