<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
  <div class="home-container">
    <%= image_tag 'mindleaps_logo_transparent.png', class: 'home-mindleaps-logo' %>
    <h1>Tracker</h1>
    <%= link_to 'Google Login', '/auth/google_oauth2', class: 'google-login btn', role: 'button' %>
  </div>
</body>
</html>
