<a id="edit-button-<%= @identifier %>" class="mdl-button mdl-js-button mdl-button--icon table-action-icon" href="<%= @path %>"><%= image_tag 'edit.svg' %></a>
<div class="mdl-tooltip" data-mdl-for="edit-button-<%= @identifier %>"><%= @tooltip_content %></div>