<div class="flex items-center">
  <button id="<%= @id %>" <%= @is_toggled ? "data-toggled=true" : ''  %>  type="button" class="group data-[toggled=true]:bg-purple-700 bg-gray-200 border border-2 relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full transition-colors duration-200 ease-in-out focus:outline-hidden focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2">
    <span aria-hidden="true" class="group-data-[toggled=true]:translate-x-5 translate-x-0 pointer-events-none inline-block size-5 translate-x-0 transform rounded-full bg-white shadow-sm ring-0 transition duration-200 ease-in-out"></span>
  </button>
  <span class="ml-3 text-sm">
    <span class="font-medium text-gray-900"><%= @text %></span>
  </span>
</div>

<script defer>
    <%= "#{@id}" %>.addEventListener('click', () => {
      let componentIdentifier = <%= "#{@id}" %>.getAttribute('id').slice(0, -6);
      let componentToToggle = document.getElementById(componentIdentifier);
      let componentsToToggle = document.getElementsByClassName(componentIdentifier);

      if (<%= "#{@id}" %>.getAttribute('data-toggled')) {
        <%= "#{@id}" %>.removeAttribute('data-toggled');

        if(componentToToggle) componentToToggle.style.display = 'none';
        if(componentsToToggle) [...componentsToToggle].forEach(c => c.style.display = 'none');
      } else {
        <%= "#{@id}" %>.setAttribute('data-toggled', true);

        if(componentToToggle) componentToToggle.style.display = 'block';
        if(componentsToToggle) [...componentsToToggle].forEach(c => c.style.display = 'block');
      }
    })
</script>