<tr class="resource-row subject-row">
    <td><a class="resource-row-link subject-row-link" href="<%= subject_path subject %>"><%= subject.subject_name %></a></td>
    <td><a class="resource-row-link subject-row-link" href="<%= subject_path subject %>"><%= subject.organization.organization_name %></a></td>
    <td><a class="resource-row-link subject-row-link text-xs-center" href="<%= subject_path subject %>"><%= subject.skills.length %></a></td>
</tr>
