<fieldset>
  <%= simple_form_for @subject, wrapper: :horizontal_form, url: { action: :update } do |f| %>
      <%= render partial: 'shared/errors', locals: {subject: @subject} %>
      <%= f.input :subject_name %>
      <%= f.association :organization, label_method: :organization_name, include_blank: false %>
      <h5>Skills</h5>
      <%= f.simple_fields_for :assignments do |assignment| %>
        <%= render 'assignment_fields', f: assignment %>
      <% end %>
      <div class='clearfix'>
        <%= link_to_add_association 'Add Skill', f, :assignments, class: 'btn btn-outline-primary btn-sm' %>
      </div>
      <%= f.button :submit, class: 'btn-outline-success' %>
  <%- end %>
</fieldset>

<p><a href="<%= url_for action: 'show' %>"><%= t(:cancel) %></a></p>