<h3>Lesson in <%= @lesson.subject.subject_name %></h3>

<h6>on <%= @lesson.date %></h6>
<h6>Group: <%= @lesson.group.group_name %></h6>

<h3>Students</h3>
<table class="table table-striped table-hover resource-table students-grade-table">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th class="text-xs-center">Average Grade</th>
    </tr>
  </thead>
  <% @lesson.group.students.each do |student| %>
    <tr class="resource-row student-grade-row">
        <td><%= link_to student.last_name, lesson_student_path(@lesson.id, student.id), class:'resource-row-link student-grade-row-link' %></td>
        <td><%= link_to student.first_name, lesson_student_path(@lesson.id, student.id), class:'resource-row-link student-grade-row-link' %></td>
        <td class="text-xs-center"><%= link_to lesson_student_average_grade(@lesson, student), lesson_student_path(@lesson.id, student.id),
                                               class:'resource-row-link student-grade-row-link' %>
        </td>
    </tr>
  <% end %>
</table>
