<%- content_for :title, "#{t(:lesson)} - #{@lesson.date} - #{@lesson.group.group_chapter_name}" %>

<%= render LayoutComponents::HeaderComponent.new(current_user: current_user, tabs: [
  {title: CommonComponents::TagLabel.new(label: "#{ @lesson.subject.subject_name } @ #{ @lesson.date }", img_src: 'clipboard.svg'), href: '' },
], buttons: [
  (CommonComponents::ButtonComponent.new(label: t(:edit_lesson), href: edit_lesson_path(@lesson)) if policy(@lesson).edit?)
].compact)  do |h|
  h.with_left do
    render CommonComponents::Breadcrumbs.new(crumbs: [
      { label: CommonComponents::TagLabel.new(label: @lesson.group.chapter.organization.organization_name, img_src: 'world.svg'), href: organization_path(@lesson.group.chapter.organization_id)},
      { label: CommonComponents::TagLabel.new(label: @lesson.group.chapter.chapter_name, img_src: 'chapter.svg'), href: chapter_path(@lesson.group.chapter_id)},
      { label:  CommonComponents::TagLabel.new(label: @lesson.group.group_name, img_src: 'group.svg'), href: group_path(@lesson.group_id) },
    ])
  end
end %>
<div class="overflow-auto">
  <div class="flex">
    <section class="flex-1 pr-2">
      <%= render CommonComponents::Card.new(title: t(:group_history).capitalize) do |card| %>
        <% card.with_card_content do %>
          <div class="ct-chart ct-octave bg-white full-width"></div>
        <% end %>
      <% end %>
      <%= render CommonComponents::Card.new(title: t(:skills).capitalize) do |card| %>
        <% card.with_card_content do %>
          <%= render TableComponents::Table.new(pagy: @pagy, rows: @lesson_skill_summary, row_component: TableComponents::SkillLessonRow, order_scope_name: :table_order_lesson_skills, options: {no_pagination: true}) %>
        <% end %>
      <% end %>
    </section>
    <section class="flex-1 pr-2">
      <%= render CommonComponents::StudentStatistics.new(@student_lesson_summaries) %>
      <%= render CommonComponents::Card.new(title: t(:students).capitalize) do |card| %>
        <% card.with_card_content do %>
          <%= render TableComponents::Table.new(pagy: @pagy, rows: @student_lesson_summaries, row_component: TableComponents::StudentLessonRow, order_scope_name: :table_order_lesson_students) do |t|
            t.with_left do %>
              <div class="flex items-center justify-between">
                <div class="flex-1">
                  <%= render CommonComponents::CheckboxLink.new(label: t(:show_deleted), checked: !excluding_deleted?, href: show_deleted_url) %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>

<div id="modal" class=""></div>

<%= javascript_tag do %>
  function onChartsLoad() {
    displayLessonGraph && displayLessonGraph('.ct-chart', '<%= @lesson.id %>', <%= @group_lessons_data[:group_lessons].to_json.html_safe%>);
  }
<% end %>
<%= javascript_include_tag "charts", onload: 'onChartsLoad()' %>
