<h1><%= @student.proper_name %></h1>
<%= t :student_has_no_images if @images.length == 0 %>
<% @images.each do |image| %>
    <div class="card student-image-card">
      <%= image_tag image.filename.medium.url, class: 'student-image card-img-top' %>
      <div class="card-block">
        <h4 class="card-title">Image title</h4>
        <p class="card-text">Some quick image description here.</p>
        <a href="#" class="btn btn-primary">Edit Image</a>
      </div>
    </div>
<%- end %>

<div class="image-upload">
  <%= simple_form_for @new_image, wrapper: :horizontal_form, url: {action: :create}, html: {multipart: true} do |f| %>
      <%= f.input :filename, as: :file %>
      <%= f.button :submit, 'Upload', class: 'btn-outline-success' %>
  <%- end %>
</div>
<div class="action-buttons">
  <%= link_to 'Back to student', student_path(@student) %>
</div>
