<div class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
  <a href="<%= helpers.chapter_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @pagy.from + @item_counter - 1 %></div>
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><span class="faded"><%= "#{@item.organization_mlid}-" %></span><%= @item.chapter_mlid %></div>
    <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @item.chapter_name %></div>
    <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @item.organization_name %></div>
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @item.group_count %></div>
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @item.student_count %></div>
  </a>
  <div>
    <% if can_update? %>
      <a id="edit-button-<%= @group_counter %>" class="mdl-button mdl-js-button mdl-button--icon table-action-icon" href="<%= helpers.edit_group_path @item %>}"><%= image_tag 'edit.svg' %></a></div>
    <% end %>
    </div>
