<div class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
  <a href="<%= helpers.lesson_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @pagy.from + @item_counter %></div>
    <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= "#{@item.group_name} - #{@item.chapter_name}" %></div>
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @item.date %></div>
    <div class="text-right px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @item.subject_name %></div>
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= "#{@item.graded_student_count} / #{@item.group_student_count}" %></div>
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @item.average_mark %></div>
  </a>
</div>
