<div class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
  <a href="<%= helpers.skill_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="px-6 py-3 whitespace-nowrap text-sm font-medium text-gray-600 "><%= @pagy.from + @item_counter %></div>
    <div class="table-cell "><%= @item.skill_name %></div>
    <div class="table-cell "><%= @item.organization.organization_name %></div>
  </a>
</div>
