<turbo-frame id="<%= dom_id(@item) %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper student-row">
  <a target="_top" href="<%= helpers.student_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="table-cell"><%= @item.mlid %></div>
    <div class="table-cell text-right"><%= @item.last_name %></div>
    <div class="table-cell text-right"><%= @item.first_name %></div>
    <div class="table-cell text-right"><%= @item.gender %></div>
    <div class="table-cell"><%= "#{@item.estimated_dob ? t(:circa) : ''}#{@item.dob}" %></div>
    <div class="table-cell"><%= @item.latest_enrollment_for_group(@group).active_since %></div>
    <div class="table-cell text-right">
      <% if @students_with_prior_grades&.include?(@item) %>
        <span class="group relative">
          <%= render CommonComponents::TooltipComponent.new(text: t(:first_grade_on_date, date: @item.first_lesson_in_group(@group).date),
            custom_class: 'tooltip p-2 absolute top-1/2 -translate-y-1/2 right-full rounded-sm bg-red-100! border border-red-300 whitespace-normal! text-center text-sm hidden group-hover:block') %>
          <svg class="h-6 w-6 text-red-400 inline-block mr-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </span>
      <% end %>
      <% if can_update? %>
        <a id="edit-button-<%= @item.id %>" class="table-action-link" href="<%= helpers.edit_group_student_path(@group, @item) %>"><%= t(:edit) %></a>
      <% end %>
    </div>
  </a>
</turbo-frame>
