<turbo-frame id="<%= dom_id(@item) %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper student-row">
  <a target="_top" href="<%= helpers.student_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="table-cell"><%= @item.mlid %></div>
    <div class="table-cell text-right"><%= @item.last_name %></div>
    <div class="table-cell text-right"><%= @item.first_name %></div>
    <div class="table-cell text-right"><%= @item.gender %></div>
    <div class="table-cell"><%= "#{@item.estimated_dob ? t(:circa) : ''}#{@item.dob}" %></div>
    <div class="table-cell"><%= @item.latest_enrollment_for_group(@group).active_since %></div>
    <div class="table-cell text-right">
      <% if can_update? %>
        <a id="edit-button-<%= @item.id %>" class="table-action-link" href="<%= helpers.edit_group_student_path(@group, @item) %>"><%= t(:edit) %></a>
      <% end %>
    </div>
  </a>
</turbo-frame>
