<%= helpers.turbo_frame_tag @item do |t| %>
    <div class="<%= 'shaded-row' if shaded? %> table-row-wrapper student-row">
      <a target="_top" href="<%= helpers.student_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
        <div class="table-cell "><%= @pagy.from + @item_counter %></div>
        <div class="table-cell "><span class=""><%= "#{@item.group.full_mlid}-" %></span><%= @item.mlid %></div>
        <div class="text-right table-cell"><%= @item.last_name %></div>
        <div class="text-right table-cell"><%= @item.first_name %></div>
        <div class="text-right table-cell"><%= @item.gender %></div>
        <div class="table-cell "><%= "#{@item.estimated_dob ? t(:circa) : ''}#{@item.dob}" %></div>
        <div class="table-cell "><%= @item.created_at.strftime('%F') %></div>
        <div class="text-right table-cell">
          <% if can_update? %>
            <a href="<%= helpers.edit_group_student_path(@item.group, @item) %>" data-turbo-stream>
              <svg class="inline-block w-4 h-4 stroke-current hover:stroke-purple-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
            </a>

            <%= button_to helpers.group_student_path(@item.group, @item), method: :delete do %>
              <svg class="inline-block w-4 h-4 stroke-current hover:stroke-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
            <% end %>
          <% end %>
        </div>
      </a>
    </div>
 <% end %>