<div class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
  <a href="<%= helpers.subject_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="table-cell "><%= @pagy.from + @item_counter %></div>
    <div class="text-right table-cell "><%= @item.subject_name %></div>
    <div class="text-right table-cell "><%= @item.organization.organization_name %></div>
    <div class="table-cell "><%= @item.skills.length %></div>
    <div class="table-cell "><%= @item.created_at.strftime('%F') %></div>
  </a>
</div>
