<div class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
  <a href="<%= helpers.user_path @item %>" class="<%= 'shaded-row' if shaded? %> table-row-wrapper">
    <div class="table-cell "><%= @pagy.from + @item_counter %></div>
    <div class="text-right table-cell "><%= @item.name %></div>
    <div class="text-right table-cell "><%= @item.email %></div>
    <div class="text-right table-cell "><%= global_role %></div>
    <div class="table-cell "><%= @item.created_at.strftime('%F') %></div>
  </a>
</div>
