<h1>New Chapter</h1>
<fieldset>
  <%= form_for :chapter, url: {action: "create"} do |form| %>
    <%= render partial: 'shared/errors', locals: {subject: @chapter} %>
    <%= form.label :chapter_name %>
    <%= form.text_field :chapter_name %>
    <%= form.submit 'Create' %>
  <%- end %>
</fieldset>

<% @chapters.each do |chapter| %>
  <p><%= chapter.chapter_name %>, Created: <%= chapter.created_at %></p>
<% end %>
