<%
  @columns = [
    { id: 'firstName', name: t(:first_name), displayed: true },
    { id: 'lastName', name: t(:last_name), displayed: true },
    { id: 'gender', name: t(:gender), displayed: true},
    { id: 'dob', name: t(:date_of_birth), displayed: true },
    { id: 'country', name: t(:country_of_nationality), displayed: false },
    { id: 'familyMembers', name: t(:family_members), displayed: false },
    { id: 'guardianName', name: t(:guardian_name), displayed: false },
    { id: 'guardianContact', name: t(:guardian_contact), displayed: false },
    { id: 'guardianOccupation', name: t(:guardian_occupation), displayed: false },
    { id: 'nameOfSchool', name: t(:name_of_school), displayed: false },
    { id: 'schoolLevel', name: t(:school_level_completed), displayed: false }
  ]
%>

<%= turbo_stream.replace 'modal' do %>
  <div id="modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" data-controller="modal">
    <div class="fixed inset-0 bg-gray-500/50 transition-opacity backdrop-out transform-gpu" data-modal-target="backdrop"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto" data-action="click->modal#close">
      <div class="flex min-h-full items-end justify-center p-4 sm:items-center sm:p-0">
        <div class="modal-out transition-all transform-gpu" data-modal-target="modal" data-action="click->modal#stopPropagation">
          <%= render CommonComponents::Card.new(title: 'Import Students') do |card| %>
            <% card.with_card_content do %>
              <%= form_tag confirm_import_organization_path, :method => :post, :class => 'bg-white max-h-[80vh] overflow-y-scroll' do %>
                <div id="column-grid" class="grid <%= "grid-cols-#{@columns.select { |c| c[:displayed] }.size}" %>" data-controller="column-toggle" data-column-toggle-columns-value="<%= @columns.to_json %>">
                  <% @columns.each do |c| %>
                    <div class="<%= c[:id] %> text-left px-4 py-3 border-b border-gray-200 bg-gray-50 text-xs font-medium text-gray-500 uppercase tracking-wider <%= 'hidden!' unless @columns.select { |e| e[:displayed] }.map { |e| e[:id] }.include?(c[:id]) %>">
                      <span class="align-sub"><%= c[:name] %></span>
                    </div>
                  <% end %>

                  <% @new_students.each_with_index do |student, i| %>
                    <%= fields_for 'students[]', student do |f|  %>
                      <%= render 'import_students_fields', :form => f , :student => student, :index => i %>
                    <% end %>
                  <% end %>
                </div>

                <div class="p-4 flex gap-4">
                  <%= submit_tag t(:confirm), class: 'button normal-button' %>
                  <div class="dangerous-button" data-action="click->modal#close"><%= t(:cancel) %></div>
                  <div class="w-full flex-column items-start gap-4">
                    <label class="text-xs font-medium text-gray-500 uppercase tracking-wider">Additional column controls</label>
                    <div class="flex gap-4 items-center mt-1">
                      <% @columns.slice(4..-1).each do |c| %>
                        <%= render CommonComponents::ToggleComponent.new(id: "#{c[:id]}Toggle", text: c[:name], is_toggled: false) %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= turbo_stream.update('flashes', partial: 'shared/flashes') %>

<style>
    /* Bring notification to front so that error messages are not greyed out */
    div[aria-live="assertive"] {
        z-index: 99;
    }
</style>