<h1>Organization: <%= @organization.organization_name %></h1>

<div class="row">
  <div class="col">
    <h3>Chapters</h3>
    <%= render partial: "shared/chapters_table", locals: {chapters: @organization.chapters} %>
  </div>
  <div class="col">
    <h3>Members</h3>
    <%= render partial: "shared/members_table", locals: {members: @organization.members} %>
    <%= simple_form_for :member, wrapper: :horizontal_form, url: { action: :add_member } do |f| %>
        <%= f.input :email %>
        <%= f.input :role do %>
            <%= f.select :role, Role::ROLES.map { |key, name| [name, key] } %>
        <% end %>
        <%= f.button :submit, 'Add Member', class: 'btn-outline-success' %>
    <% end %>
  </div>
</div>
