<h1>Organization: <%= @organization.organization_name %></h1>

<h3>Members</h3>

<%= simple_form_for :member, wrapper: :horizontal_form, url: { action: :add_member } do |f| %>
  <%= f.input :email %>
  <%= f.input :role do %>
    <%= f.select :role, Role::ROLES.map { |key, name| [name, key] } %>
  <% end %>
  <%= f.button :submit, 'Add Member', class: 'btn-outline-success' %>
<% end %>

<h3>Chapters</h3>

<%= render partial: "shared/chapters_table", locals: {chapters: @organization.chapters} %>
