<% content_for :title, t(:reports).capitalize %>
<div class="overflow-x-scroll">
  <div class="p-4 filter-wrap flex items-center flex-1">
    <div class="p-4 filter-wrap flex items-center flex-1" data-controller="reports-filter" data-reports-filter-path-value="<%= reports_group_path(:placeholder) %>">
      <div class="pl-2">
        <%= label_tag :organization_label, "Organization", class: 'block text-sm font-medium text-gray-700' %>
        <%= select_tag :organization_select, options_from_collection_for_select(@available_organizations, :id, :organization_name), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-reports-filter-target' => 'select', 'data-action' => 'reports-filter#updateFilter', 'data-name' => 'organization_id', 'data-dependents' => ['chapter_id'].to_json, 'data-resources' => @available_organizations.map { |o| { id: o.id, label: o.organization_name} }.to_json %>
      </div>
      <div class="pl-2">
        <%= label_tag :chapter_label, "Chapter", class: 'block text-sm font-medium text-gray-700' %>
        <%= select_tag :chapter_select, options_from_collection_for_select(@available_chapters, :id, :chapter_name), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', :prompt => 'All', 'data-reports-filter-target' => 'select', 'data-action' => 'reports-filter#updateFilter', 'data-name' => 'chapter_id', 'data-dependents' => ['group_id'].to_json, 'data-resources' => @available_chapters.map { |c| { id: c.id, label: c.chapter_name, depend_id: c.organization_id } }.to_json %>
      </div>
      <div class="pl-2">
        <%= label_tag :group_label, "Group", class: 'block text-sm font-medium text-gray-700' %>
        <%= select_tag :group_select, options_from_collection_for_select(@available_groups, :id, :group_name), :class => 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-hidden focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md', 'data-reports-filter-target' => 'select', 'data-action' => 'reports-filter#updateFilter', 'data-name' => 'group_id', 'data-resources' => @available_groups.map { |g| { id: g.id, label: g.group_name, depend_id: g.chapter_id } }.to_json %>
      </div>
      <div class="pl-2 pt-5">
        <%= render CommonComponents::ButtonComponent.new(label: t(:generate_report), options: { 'data-reports-filter-target' => 'anchor', 'target' => '_blank' })%>
      </div>
    </div>
  </div>
</div>
