<!DOCTYPE html>
<html>
  <head>
    <title>Tracker<% if content_for? :title %><%= " - #{content_for :title}" %><% end %></title>
    <meta content="notranslate" name="google" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'tailwind.css', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= yield :head_content %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <%= render 'shared/header' %>
      <%= render DrawerComponent.new current_user: current_user %>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate" id="loading-bar">
        </div>
        <div class="mdl-grid page-content">
          <%= render 'shared/snackbar' %>
          <%= yield %>
        </div>
      </main>
    </div>
    <%= javascript_include_tag 'old_application', defer: 'defer' %>
  </body>
</html>
