<!DOCTYPE html>
<html class="h-full bg-gray-100 overflow-hidden">
  <head>
    <title>Tracker<% if content_for? :title %><%= " - #{content_for :title}" %><% end %></title>
    <meta name="turbo-cache-control" content="no-preview">
    <meta content="notranslate" name="google" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'pikaday.css' %>
    <%= javascript_importmap_tags %>
    <%= yield :head_content %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <%= csrf_meta_tags %>
    <% if staging_site? %>
      <meta name="robots" content="noindex, nofollow">
      <link rel="canonical" href="https://mindleapstracker.org<%= request.path %>" />
    <% end %>
  </head>
  <body class="h-full bg-gray-200">
    <div class="h-full flex">
      <%= render LayoutComponents::SidebarComponent.new current_user: current_user %>
      <div class="flex flex-col w-full overflow-auto">
        <%= yield %>
      </div>
    </div>
    <!-- Global notification region -->
    <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:px-6 sm:py-20">
      <div id="flashes" class="flex w-full flex-col items-center space-y-4 sm:items-end">
        <%= render partial: 'shared/flashes' %>
      </div>
    </div>
  </body>
</html>
