<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <meta name="google" content="notranslate" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <%= render "shared/header" %>
    <%= render "shared/drawer" %>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid page-content">
        <% if notice or undo_notice or link_notice or alert %>
          <div class="notices">
            <% if notice %><div class="alert-success notice"><%= notice %></div><% end %>
            <% if link_notice %><div class="alert-success notice"><%= link_notice.try :html_safe %></div><% end %>
            <% if undo_notice %><div class="alert-danger notice undo-notice"><%= undo_notice.try :html_safe %></div><% end %>
            <% if alert %><div class="alert-danger notice"><%= alert %></div><% end %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </div>
</body>
</html>
