<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <meta name="google" content="notranslate" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <div class="notices">
    <div class="notice"><%= notice %></div>
    <p class="alert"><%= alert %></p>
  </div>
  <section class="container">
    <%= render "shared/menu" %>
    <%= yield %>
  </section>
</body>
</html>
