<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Tracker<% if content_for? :title %><%= " - #{content_for :title}" %><% end %></title>
    <meta content="notranslate" name="google" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'tailwind.css', media: 'all' %>
    <%#= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= yield :head_content %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <%= csrf_meta_tags %>
  </head>
  <body class="h-full">
    <div class="h-full flex" data-controller="mobile">
      <%= render LayoutComponents::SidebarComponent.new current_user: current_user %>
      <div class="lg:pl-64 flex flex-col">
        <%= yield %>
        <%#= render 'shared/header' %>
<!--        <div class="flex-1 flex items-stretch overflow-hidden">-->
<!--          <main class="flex-1 overflow-y-auto">-->
            <%#= render 'shared/snackbar' %>
            <%#= yield %>
<!--          </main>-->
<!--        </div>-->
      </div>
    </div>
    <%= javascript_include_tag 'old_application', defer: 'defer' %>
  </body>
</html>
